/_include/current/misc/ip.db
/.htaccess
/_files/cache
/_cron/error_log
/_files/logs
/_files/photo
/_frameworks/main/edge/images/patterns
/_frameworks/main/original_edge
/_frameworks/main/old_edge.rar
